.chute-container-case {
  top: -700px;
  z-index: 100;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chute-univers {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 200 0 600 0px;
}

.chute-univers img:nth-child(1) {
  position: absolute;
  z-index: 4;
  opacity: 0.7;
}

.chute-univers img:nth-child(2) {
  position: absolute;
  z-index: 30;
  opacity: 0.95;
}

.chute-univers img:nth-child(3) {
  position: absolute;
  opacity: 0.9;
}

.chute-univers img:nth-child(4) {
  position: absolute;
  z-index: 32;
  opacity: 0.85;
}

.chute-sabre {
  position: absolute;
  width: 900px;
  z-index: 20;
  left: 25%;
}
