.chute-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.chute-univers {
  position: relative;
  width: 100%;
  height: 100%;
}

.chute-univers img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.chute-univers img:nth-child(1) {
  z-index: 4;
  transform: top left scale(1);
  opacity: 0.7;
}

.chute-univers img:nth-child(2) {
  z-index: 3;
  transform: translate(-30%, -45%);
  opacity: 0.95;
}

.chute-univers img:nth-child(3) {
  z-index: 2;
  transform: translate(-60%, -50%);
  opacity: 0.9;
}

.chute-univers img:nth-child(4) {
  z-index: 1;
  transform: translate(-60%, -40%);
  opacity: 0.85;
}
