footer {
  width: 100%;
  height: auto;
  position: relative;

  background-image: url("../images/montagne_01.webp");
  background-position-y: calc(100% - -800px);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-sous-titre {
  color: var(--Text-main, #443e30);
  text-align: justify;
  font-family: Outfit;
  font-size: 25.282px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.758px;
}

.footer-button-acheter {
  color: var(--Text-main, #443e30);
  font-family: Outfit;
  font-size: 25.282px;
  font-weight: 400;
  letter-spacing: 0.758px;
  border-radius: 6.923px;
  border: 1.731px solid var(--black, #000);
  opacity: 0.5;
  background: var(--white, #fff);
  padding: 4 46 4 46px;
}

.footer-texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
  width: 507px;
}

.footer-cover {
  width: 763px;
  height: 597px;
  flex-shrink: 0;
  aspect-ratio: 763/597;
  border: 4px solid #000;
  z-index: 100;
}

.footer-haut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 73px;
  width: 100vw;
  margin-bottom: 200;
}

.footer-bas {
  background: linear-gradient(
    180deg,
    rgba(105, 109, 83, 0) 0%,
    rgba(46, 48, 37, 0.47) 38.46%,
    rgba(0, 0, 0, 0.85) 86.06%
  );
  color: white;
  padding: 40px 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s ease;
  font-family: outfit;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}
