.montagne_fond {
  z-index: 1;
  width: auto;
  height: 1188px;
  flex-shrink: 0;
  aspect-ratio: 386/297;
}

.montagne_derriere {
  z-index: 5;
  width: auto;
  height: 994px;
  flex-shrink: 0;
  aspect-ratio: 1291/994;
  position: absolute;
  bottom: -30%;
  right: 0;
}

.montagne_devant {
  z-index: 20;
  width: auto;
  height: 502.96px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.montagen_sabre {
  z-index: 15;
  width: auto;
  height: 914px;
  flex-shrink: 0;
  position: absolute;
  bottom: -50%;
  left: -10%;
}
