.rejet {
  flex-shrink: 0;
  z-index: 10;
  display: inline-flex;
  align-items: flex-start;
  gap: 100px;

  img {
    width: 1372px;
    height: 1056px;
    flex-shrink: 0;
    aspect-ratio: 343/264;
  }
}
