.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.scroll-horizontal {
  display: inline-flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 40px;
  align-items: end;

  .scroll-marche {
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    img {
      border: 4px solid #000;
      width: 700px;
    }
  }

  .scroll-jugement {
    flex-shrink: 0;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    gap: 100px;

    img:nth-child(1) {
      width: 1200px;
      height: 924px;
      flex-shrink: 0;
      aspect-ratio: 100/77;
    }

    img:nth-child(2) {
      width: 1300px;
      border: 4px solid #000;
      margin-top: 200px;
    }

    img:nth-child(3) {
      width: 655px;
      aspect-ratio: 100/77;
      border: 4px solid #000;
    }
  }
}
