.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scroll-horizontal {
  display: inline-flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 40px;
  align-items: end;
  // overflow-x: hidden;
  // margin-top: 40%;

  .scroll-marche {
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    img {
      border: 4px solid #000;
      width: 700px;
    }
  }
}

.scroll-jugement {
  flex-shrink: 0;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  img {
    width: 1300px;
    border: 4px solid #000;
  }
}
