* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --background: #fff;
  --noir: #000;
  --yellow: #fdff62;
  --mauve: #915d77;
  --brun: #443e30;
}

h1 {
  color: var(--yellow);
  font-family: Rationale;
  font-size: 523.007px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px 65px;
  gap: 20px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  button {
    font-size: 16px;
  }
}

button {
  display: inline-flex;
  padding: 3px 27px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--black, #000);
  opacity: 0.5;
  background: var(--white, #fff);

  color: var(--black, #000);
  text-align: center;
  font-family: Outfit;
}

main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  img {
    position: absolute;
    object-fit: contain;
    object-position: bottom;
  }
}
