@font-face {
  font-family: "Rationale";
  src: url("../font/Rationale-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
